# Filtering exercises with Stackoverflow 2022 dataset

In [340]:
import pandas as pd
import numpy as np

In [97]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [59]:
df11 = pd.DataFrame(people)
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [60]:
# People whose last name is Doe
df11[df11["last"]== "Doe"]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [61]:
df11.loc[df11["last"]=="Doe"]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [62]:
# emails of People whose last name is Doe

df11[df11["last"]== "Doe"]["email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [63]:
df11.loc[df11["last"]=="Doe", "email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [65]:
# people with last name of Doe and first name of John

df11.loc[(df11["last"]=="Doe")&(df11["first"]=="John")]

  first last              email
2  John  Doe  JohnDoe@email.com

In [66]:
# email of people with last name of Doe and first name of John
df11.loc[((df11["last"] == "Doe") & (df11["first"] == "John")), "email"]

2    JohnDoe@email.com
Name: email, dtype: object

In [67]:
# last name is equal to Schafer or first name is equal to john
df11.loc[(df11["last"] == "Schafer") | (df11["first"] == "John")]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [68]:
# email of last name is equal to Schafer or first name is equal to john
df11.loc[((df11["last"] == "Schafer") | (df11["first"] == "John")), "email"]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [69]:
# if we want to bring all the emails of people whose last name is not schafer and f-name is not john,
# 1) we can use != for entire code
# 2) we can basicly use a tilde ~

df11.loc[~((df11["last"] == "Schafer") | (df11["first"] == "John")), "email"]

1    JaneDoe@email.com
Name: email, dtype: object

# stackoverflow dataset

In [341]:
df = pd.read_csv("survey_results_public.csv", index_col= "ResponseId")

In [4]:
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

In [5]:
df.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73268 entries, 1 to 73268
Data columns (total 78 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MainBranch                      73268 non-null  object
 1   Employment                      71709 non-null  object
 2   RemoteWork                      58958 non-null  object
 3   CodingActivities                58899 non-null  object
 4   EdLevel                         71571 non-null  object
 5   LearnCode                       71580 non-null  object
 6   LearnCodeOnline                 50685 non-null  object
 7   LearnCodeCoursesCert            29389 non-null  object
 8   YearsCode                       71331 non-null  object
 9   YearsCodePro                    51833 non-null  object
 10  DevType                         61302 non-null  object
 11  OrgSize                         51039 non-null  object
 12  PurchaseInfluence               50969 non-null  object
 13  BuyNewTool                      67963 non-null  object
 14  Country                         71771 non-null  object
 15  Currency                        51264 non-null  object
 16  CompTotal                       38422 non-null  float64
 17  CompFreq                        44425 non-null  object
 18  LanguageHaveWorkedWith          70975 non-null  object
 19  LanguageWantToWorkWith          67027 non-null  object
 20  DatabaseHaveWorkedWith          60121 non-null  object
 21  DatabaseWantToWorkWith          51014 non-null  object
 22  PlatformHaveWorkedWith          49924 non-null  object
 23  PlatformWantToWorkWith          40415 non-null  object
 24  WebframeHaveWorkedWith          53544 non-null  object
 25  WebframeWantToWorkWith          46122 non-null  object
 26  MiscTechHaveWorkedWith          44992 non-null  object
 27  MiscTechWantToWorkWith          36810 non-null  object
 28  ToolsTechHaveWorkedWith         54171 non-null  object
 29  ToolsTechWantToWorkWith         46566 non-null  object
 30  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 31  NEWCollabToolsWantToWorkWith    64108 non-null  object
 32  OpSysProfessional use           65503 non-null  object
 33  OpSysPersonal use               70963 non-null  object
 34  VersionControlSystem            71379 non-null  object
 35  VCInteraction                   68156 non-null  object
 36  VCHostingPersonal use           0 non-null      float64
 37  VCHostingProfessional use       0 non-null      float64
 38  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 39  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 40  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 41  OfficeStackSyncWantToWorkWith   47688 non-null  object
 42  Blockchain                      71071 non-null  object
 43  NEWSOSites                      71365 non-null  object
 44  SOVisitFreq                     70961 non-null  object
 45  SOAccount                       71572 non-null  object
 46  SOPartFreq                      58229 non-null  object
 47  SOComm                          71408 non-null  object
 48  Age                             70946 non-null  object
 49  Gender                          70853 non-null  object
 50  Trans                           70315 non-null  object
 51  Sexuality                       66565 non-null  object
 52  Ethnicity                       69474 non-null  object
 53  Accessibility                   67244 non-null  object
 54  MentalHealth                    66447 non-null  object
 55  TBranch                         52670 non-null  object
 56  ICorPM                          36283 non-null  object
 57  WorkExp                         36769 non-null  float64
 58  Knowledge_1                     35804 non-null  object
 59  Knowledge_2                     34973 non-null  object
 60  Knowledge_3                     35133 non-null  object
 61  Knowledge_4                     35097 non-null  object
 62  Knowledge_5                     35014 non-null  object
 63  Knowledge_6                     34991 non-null  object
 64  Knowledge_7                     34977 non-null  object
 65  Frequency_1                     35371 non-null  object
 66  Frequency_2                     35344 non-null  object
 67  Frequency_3                     34515 non-null  object
 68  TimeSearching                   36198 non-null  object
 69  TimeAnswering                   36022 non-null  object
 70  Onboarding                      35679 non-null  object
 71  ProfessionalTech                34906 non-null  object
 72  TrueFalse_1                     35819 non-null  object
 73  TrueFalse_2                     35715 non-null  object
 74  TrueFalse_3                     35749 non-null  object
 75  SurveyLength                    70444 non-null  object
 76  SurveyEase                      70508 non-null  object
 77  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), object(73)
memory usage: 44.2+ MB

In [44]:
# let's say over 70000 is high salaries and  filter them

high_salary = df["ConvertedCompYearly"] > 70000
df.loc[high_salary].sample(10)

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
58850,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,21,12,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,200000.0,Yearly,HTML/CSS;Ruby;SQL;TypeScript,Elixir;Erlang;HTML/CSS;Kotlin;Ruby;SQL;TypeScript,PostgreSQL;Redis,PostgreSQL;Redis,AWS,AWS,Node.js;React.js;Ruby on Rails,Node.js;Phoenix;React.js;Ruby on Rails,Apache Kafka;React Native,Apache Kafka;React Native;Spring,Docker;Homebrew;Kubernetes;npm;Terraform,Docker;Homebrew;Kubernetes;npm;Terraform,IntelliJ;RubyMine,IntelliJ;RubyMine,macOS,macOS,Git,Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow,A few times per month or weekly,Not sure/can't remember,NaN,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,15.0,Strongly agree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,1-2 times a week,1-2 times a week,1-2 times a week,Less than 15 minutes a day,60-120 minutes a day,Just right,DevOps function;Microservices;Continuous integ...,Yes,Yes,Yes,Appropriate in length,Easy,200000.0
36141,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Writ...,NaN,37,24,"Developer, full-stack",10 to 19 employees,I have some influence,Visit developer communities like Stack Overflo...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,70000.0,Yearly,Clojure,Clojure;F#;Rust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Docker,NaN,IntelliJ,IntelliJ,macOS,macOS;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,NaN,NaN,Slack;Zoom,Slack;Zoom,Unsure,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",45-54 years old,Man,No,Straight / Heterosexual,Ethnoreligious group,None of the above,None of the above,Yes,Independent contributor,24.0,Disagree,Disagree,Agree,Neither agree nor disagree,Agree,Disagree,Agree,Never,Never,Never,15-30 minutes a day,Less than 15 minutes a day,Somewhat short,Microservices;Continuous integration (CI) and ...,Yes,No,Yes,Appropriate in length,Neither easy nor difficult,87948.0
21415,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc);On the...",NaN,Coursera;Other,14,11,"Developer, full-stack",100 to 499 employees,I have little or no influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,185000.0,Weekly,Bash/Shell;Java;JavaScript;SQL;TypeScript,Clojure;Elixir;Erlang;Kotlin;Python;Rust;Scala,Microsoft SQL Server;PostgreSQL,PostgreSQL,AWS,AWS;Heroku,React.js,Django;Flask;React.js,.NET;Spring,Apache Kafka,Docker;npm;Yarn,Docker;Kubernetes;Yarn,IntelliJ;Notepad++;PyCharm;Visual Studio Code,IntelliJ;Notepad++;PyCharm;Visual Studio Code,macOS,Windows,Git,Command-line,NaN,NaN,Confluence;Jira Work Management;Notion,Jira Work Management;Notion,Microsoft Teams;Slack,Slack,Favorable,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,9250000.0
42491,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;V...,Udemy;Udacity,5,5,"Developer, front-end;Developer, full-stack",500 to 999 employees,I have some influence,Start a free trial;Ask developers I know/work ...,Sweden,SEK\tSwedish krona,87000.0,Monthly,HTML/CSS;JavaScript;Python;TypeScript,NaN,MongoDB;PostgreSQL,NaN,AWS;Firebase;Google Cloud;Microsoft Azure,NaN,Next.js;Node.js;React.js,Next.js;Node.js;React.js;Svelte,NaN,NaN,Docker;npm,NaN,Visual Studio Code,Visual Studio Code,macOS;Windows,macOS;Windows,Git,Code editor;Dedicated version control GUI appl...,NaN,NaN,Confluence;Jira Work Management;Notion,NaN,Mattermost;Slack,Slack,Unfavorable,Stack Overflow,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White;European,None of the above,None of the above,Yes,Independent contributor,5.0,Neither agree nor disagree,Disagree,Agree,Agree,Strongly agree,Neither agree nor disagree,Strongly agree,1-2 times a week,1-2 times a week,Never,60-120 minutes a day,15-30 minutes a day,Somewhat long,Microservices;Continuous integration (CI) and ...,No,No,Yes,Appropriate in length,Easy,106044.0
12470,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,11,7,"Developer, back-end;Developer, desktop or ente...","10,000 or more employees",I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,125000.0,Yearly,C#;Java,C#;Java,NaN,NaN,Google Cloud;Microsoft Azure,Google Cloud;Microsoft Azure,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET;Spring,.NET;Spring,NaN,NaN,IntelliJ;Visual Studio,IntelliJ;Visual Studio,Windows,Windows,Git,Code editor;Version control hosting service we...,NaN,NaN,Planview Projectplace or Clarizen,Stack Overflow for Teams,Microsoft Teams;Zoom,Microsoft Teams,Favorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White;European,None of the above,I have an anxiety disorder,Yes,Independent contributor,7.0,Agree,Disagree,Agree,Agree,Agree,Agree,Neither agree nor disagree,1-2 times a week,3-5 times a week,1-2 times a week,15-30 minutes a day,15-30 minutes a day,Somewhat short,Innersource initiative;DevOps function;Microse...,Yes,No,Yes,Appropriate in length,Easy,125000.0
40818,I am a developer by profession,"Employed, full-time",Fully remote,Bootstrapping a business,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,24,14,"Developer, back-end;Developer, desktop or ente...","5,000 to 9,999 employees",I have some influence,Start a free trial;Ask developers I know/work ...,Italy,EUR European Euro,82000.0,Monthly,Assembly;Bash/Shell;C;Dart;HTML/CSS;Java;JavaS...,C++;Go;HTML/CSS;JavaScript;PHP;Python;Rust;SQL...,Cassandra;Elasticsearch;MySQL;Oracle;PostgreSQ...,Elasticsearch;MongoDB;PostgreSQL;Redis,Microsoft Azure,Google Cloud;Microsoft Azure,Flask;jQuery;Laravel;Node.js;Symfony,Laravel,Flutter;GTK;NumPy;Xamarin,Qt;TensorFlow,Docker;Homebrew;npm;Puppet;Unity 3D;Yarn,Docker;Homebrew;npm;Puppet;Unity 3D;Yarn,Atom;CLion;GoLand;IntelliJ;Nano;NetBeans;Notep...,GoLand;Notepad++;PhpStorm;PyCharm;Vim;Visual S...,Linux-based;macOS;Windows Subsystem for Linux ...,Linux-based;macOS;Windows Subsystem for Linux ...,Git,Code editor;Version control hosting service we...,NaN,NaN,Confluence;Jira Work Management;Smartsheet,Smartsheet,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Microsoft Teams;Slack,Favorable,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",45-54 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,Yes,People manager,25.0,Strongly agree,Neither agree nor disagree,Neither agree nor disagree,Agree,Neither agree nor disagree,Agree,Agree,3-5 times a week,3-5 times a week,1-2 times a week,30-60 minutes a day,15-30 minutes a day,Somewhat long,DevOps function;Continuous integration (CI) an...,Yes,No,No,Too long,Neither easy nor difficult,1049376.0
45362,"I am not primarily a developer, but I write co...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Stack Overflow,NaN,24,22,Project manager,2 to 9 employees,I have some influence,Other (please specify):,Australia,AUD\tAustralian dollar,170000.0,Weekly,Python;SQL;VBA,Python;SQL;VBA,Microsoft SQL Server,Microsoft SQL Server;SQLite,Microsoft Azure,Microsoft Azure,NaN,NaN,NumPy;Pandas,NumPy;Pandas,NaN,NaN,Visual Studio,Visual Studio,Windows,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Indifferent,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, definitely",45-54 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,25.0,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Disagree,Disagree,Never,1-2 times a week,Never,30-60 minutes a day,30-60 minutes a day,Just right,None of these,Yes,Yes,Yes,Appropriate in length,Easy,6015550.0
15982,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,Some college/university study without earning ...,Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,17,13,"Developer, full-stack;Developer, back-end",100 to 499 employees,I have some influence,Ask developers I know/work with,United States of America,USD\tUnited States dollar,135000.0,Yearly,Bash/Shell;Haskell;JavaScript,APL;F#;Haskell;OCaml;Rust;Scala,MongoDB;PostgreSQL;Redis;SQLite,MariaDB;PostgreSQL;SQLite,AWS,NaN,Angular.js;Node.js,Phoenix;Play Framework,NaN,NaN,Docker;npm;Terraform,NaN,Emacs;Vim;Visual Studio Code,Emacs,Linux-based,Linux-based,Git;Other (please specify):,Code editor;Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,Mattermost;Slack;Wire,Unfavorable,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,White,I am unable to / find it difficult to type,I have a concentration and/or memory disorder ...,Yes,Independent contributor,13.0,Agree,Strongly agree,Neither agree nor disagree,Disagree,Disagree,Strongly agree,Strongly agree,Never,1-2 times a week,1-2 times a week,Over 120 minutes a day,60-120 minutes a day,Somewhat long,Continuous integration (CI) and (more often) c...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,135000.0
64209,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,15,10,"Developer, full-stack",500 to 999 employees,I have little or no influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,250000.0,Yearly,C#;HTML/CSS;JavaScript;SQL,C#;HTML/CSS;JavaScript,Microsoft SQL Server,NaN,NaN,NaN,React.js,React.js,.NET,.NET;TensorFlow,Docker,Docker;Unity 3D,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line,NaN,NaN,Confluence;Jira Work Management,NaN,Microsoft Teams;Zoom,Microsoft Teams,Very favorable,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",35-44 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,"Or, in your own words:",Yes,Independent contributor,10.0,Agree,Agree,Agree,Agree,Agree,Agree,Strongly agree,3-5 times a week,3-5 times a week,1-2 times a week,30-60 minutes a day,15-30 minutes a day,Somewhat long,DevOps function;Microservices;Continuous integ...,No,Yes,Yes,Appropriate in length,Easy,250000.0
51075,I am a developer by profession,"Employed, full-time",Fully remote,Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Programming Game...,Codecademy;edX,12,6,"Developer, full-stack;Developer, embedded appl...",20 to 99 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,Canada,CAD\tCanadian dollar,140000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;Ruby;SQL...,Bash/Shell;Python;Ruby;Rust;SQL;TypeScript,PostgreSQL,PostgreSQL,AWS,AWS,React.js;Ruby on Rails,React.js;Ruby on Rails,NaN,NaN,Docker;Kubernetes;Yarn,Docker,Visual Studio Code,Visual Studio Code,Linux-based,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management,NaN,Microsoft Teams;Slack,Slack,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",Yes,Independent contributor,12.0,Agree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,1-2 times a week,3-5 times a week,Never,Over 120 minutes a day,15-30 minutes a day,Very long,DevOps function;Microservices;Developer portal...,Yes,No,Yes,Appropriate in length,Easy,109318.0

In [45]:
df["Country"].unique()

array([nan, 'Canada',
       'United Kingdom of Great Britain and Northern Ireland', 'Israel',
       'United States of America', 'Germany', 'India', 'Netherlands',
       'Croatia', 'Australia', 'Russian Federation', 'Czech Republic',
       'Austria', 'Serbia', 'Italy', 'Ireland', 'Poland', 'Slovenia',
       'Iraq', 'Sweden', 'Madagascar', 'Norway', 'Taiwan',
       'Hong Kong (S.A.R.)', 'Mexico', 'France', 'Brazil', 'Lithuania',
       'Uruguay', 'Denmark', 'Spain', 'Egypt', 'Turkey', 'South Africa',
       'Ukraine', 'Finland', 'Romania', 'Portugal', 'Singapore', 'Oman',
       'Belgium', 'Chile', 'Bulgaria', 'Latvia', 'Philippines', 'Greece',
       'Belarus', 'Saudi Arabia', 'Kenya', 'Switzerland', 'Iceland',
       'Viet Nam', 'Thailand', 'China', 'Montenegro', 'Slovakia', 'Japan',
       'Luxembourg', 'Turkmenistan', 'Argentina', 'Hungary', 'Tunisia',
       'Bangladesh', 'Maldives', 'Dominican Republic', 'Jordan',
       'Pakistan', 'Nepal', 'Iran, Islamic Republic of...', 'Indonesia',
       'Ecuador', 'Bosnia and Herzegovina', 'Armenia', 'Colombia',
       'Kazakhstan', 'South Korea', 'Costa Rica', 'Honduras', 'Mauritius',
       'Estonia', 'Algeria', 'Trinidad and Tobago', 'Mali', 'Morocco',
       'Swaziland', 'New Zealand',
       'The former Yugoslav Republic of Macedonia', 'Afghanistan',
       'Cyprus', 'United Arab Emirates', 'Peru', 'Uzbekistan', 'Ethiopia',
       'Bahrain', 'Malta', 'Nicaragua', 'Andorra', 'Republic of Korea',
       'Lebanon', 'Belize', 'Zambia', 'Bolivia', 'Malaysia', 'Sri Lanka',
       "Lao People's Democratic Republic", 'Guatemala', 'Azerbaijan',
       'Suriname', 'El Salvador', 'Syrian Arab Republic', 'Qatar',
       'Nigeria', 'Kyrgyzstan', 'Zimbabwe', 'Rwanda', 'Georgia',
       'Cambodia', 'Malawi', 'Yemen', 'Fiji', 'Nomadic', 'Uganda',
       'Albania', 'Timor-Leste', 'Mongolia', 'Republic of Moldova',
       'Tajikistan', 'Ghana', 'United Republic of Tanzania', 'Myanmar',
       'Kuwait', 'Cameroon', 'Kosovo', 'Jamaica', 'Benin', 'Botswana',
       'Niger', 'Palestine', 'Cape Verde', 'Libyan Arab Jamahiriya',
       'Venezuela, Bolivarian Republic of...', 'Senegal', 'Cuba', 'Togo',
       'Angola', 'Isle of Man', 'Panama', 'Bahamas', 'Paraguay', 'Sudan',
       'Liberia', 'Bhutan', 'Democratic Republic of the Congo',
       "Côte d'Ivoire", 'Barbados', 'Congo, Republic of the...',
       'Namibia', 'Somalia', 'Sierra Leone', 'Mozambique', 'Lesotho',
       'Chad', 'North Korea', 'Antigua and Barbuda', 'Papua New Guinea',
       'Palau', 'Guinea', 'Haiti', 'Gabon', 'Mauritania', 'San Marino',
       'Guyana', 'Saint Lucia', 'Burkina Faso', 'Brunei Darussalam',
       'Gambia', 'Monaco', 'Djibouti', 'Seychelles', 'Solomon Islands',
       'Saint Kitts and Nevis'], dtype=object)

In [42]:
# let's see country, language and yearly salary of these people wtih hig salaries 
df.loc[high_salary, ["Country", "LanguageHaveWorkedWith", "ConvertedCompYearly"]].sort_values(
    "ConvertedCompYearly", ascending=False).sample(10)

,Country,LanguageHaveWorkedWith,ConvertedCompYearly
ResponseId,,,
57152,United States of America,Bash/Shell;Go;JavaScript;Rust;SQL;TypeScript,300000.0
22144,United States of America,Bash/Shell;C#;F#;Haskell;Java;JavaScript;Lua;P...,5000000.0
38948,United States of America,Bash/Shell;Go;HTML/CSS;JavaScript;Python;SQL;T...,115000.0
10173,United Kingdom of Great Britain and Northern I...,HTML/CSS;Java;JavaScript;Perl;PHP;SQL;TypeScript,87948.0
45288,United States of America,Bash/Shell;JavaScript;Python;SQL,190000.0
47417,United States of America,Bash/Shell;C;C++;Go;HTML/CSS;JavaScript;LISP;P...,140000.0
36908,United States of America,C#;Dart;HTML/CSS;Java;JavaScript;Scala;SQL,85000.0
6558,Germany,JavaScript;TypeScript,76250.0
51460,United Kingdom of Great Britain and Northern I...,Bash/Shell;C++;Java;JavaScript;LISP;Ruby;SQL,167100.0
21654,United States of America,Go;HTML/CSS;JavaScript;Kotlin;Python;TypeScript,188000.0

In [46]:
# filter it through 5 countries
countries = ["United States of America", "India", "United Kingdom of Great Britain and Northern Ireland", "Germany", "Canada"]
filt = df["Country"].isin(countries)
df.loc[filt, "Country"]

ResponseId
2                                                   Canada
3        United Kingdom of Great Britain and Northern I...
5                                 United States of America
6                                                  Germany
7                                                    India
                               ...
73263                                              Germany
73265                             United States of America
73266                             United States of America
73267    United Kingdom of Great Britain and Northern I...
73268                                               Canada
Name: Country, Length: 32257, dtype: object

In [48]:
# people who use python

filt_python = df["LanguageHaveWorkedWith"].str.contains("Python", na=False)
# na is a parameter of str.contain. to avoid the NaNs we set it false
filt_python

ResponseId
1        False
2        False
3         True
4        False
5        False
         ...
73264     True
73265     True
73266     True
73267    False
73268    False
Name: LanguageHaveWorkedWith, Length: 73268, dtype: bool

In [55]:
df.loc[filt_python]

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,India,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;PHP;Python;TypeScript,C;C#;C++;Elixir;Go;HTML/CSS;Java;JavaScript;Ko...,Cloud Firestore;MongoDB;Firebase Realtime Data...,MySQL;Oracle;PostgreSQL,NaN,NaN,Angular;Next.js;Node.js;React.js;Svelte;Vue.js,Django;Flask;Gatsby;jQuery;Next.js;Node.js;Rea...,NaN,NaN,Homebrew;npm,npm,Atom;IntelliJ;Notepad++;PyCharm;Sublime Text;V...,Visual Studio Code;Webstorm,macOS,macOS,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Google Chat;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Under 18 years old,Man,No,NaN,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,NaN,12,10,Engineering manager,20 to 99 employees,I have some influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,194400.0,Yearly,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,C++;Go;HTML/CSS;JavaScript;Lua;Rust;TypeScript,Couchbase;CouchDB;Microsoft SQL Server;MongoDB...,Elasticsearch;MongoDB;Redis;SQLite,AWS;Microsoft Azure,AWS;DigitalOcean;Firebase;Linode,ASP.NET;ASP.NET Core ;Express;Node.js;Vue.js,ASP.NET Core ;Node.js;Nuxt.js;React.js;Vue.js,.NET;Keras;NumPy;Pandas;Scikit-learn;TensorFlo...,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,Docker;Homebrew;Kubernetes,Docker;Homebrew;Kubernetes;Pulumi;Terraform,IPython/Jupyter;Neovim;Visual Studio;Visual St...,IPython/Jupyter;Neovim;Visual Studio Code,Linux-based;macOS;Windows,Linux-based;macOS,Git,Code editor;Dedicated version control GUI appl...,NaN,NaN,Confluence;Jira Work Management;Notion;Trello,Notion;Trello,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Slack,Unfavorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",Yes,People manager,14.0,Strongly agree,Agree,Disagree,Agree,Agree,Agree,Agree,10+ times a week,10+ times a week,3-5 times a week,30-60 minutes a day,60-120 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,No,Too short,Easy,194400.0
15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Stack Overflow;Video-based O...,NaN,11,5,"Developer, full-stack;Academic researcher;DevO...","5,000 to 9,999 employees",I have little or no influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,110000.0,Yearly,HTML/CSS;JavaScript;PHP;Python;R;Ruby;Scala,HTML/CSS;JavaScript;Python;Scala,Elasticsearch;MongoDB;Neo4j;PostgreSQL,Elasticsearch;MongoDB;Neo4j;PostgreSQL,AWS;DigitalOcean;Heroku,AWS,Django;Flask;jQuery;Node.js;Ruby on Rails;Vue.js,Django;FastAPI;React.js;Vue.js,Apache Kafka;Apache Spark;NumPy;Pandas;Tidyverse,Pandas,Docker;npm;Yarn,Docker;npm;Yarn,IPython/Jupyter;Nano;RStudio;Visual Studio Code,Visual Studio Code,macOS,macOS,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Asana;Jira Work Management;Trello,Asana;Jira Work Management;Trello,Microsoft Teams;Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,1-2 times a week,3-5 times a week,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Somewhat long,DevOps function;Continuous integration (CI) an...,No,Yes,Yes,Appropriate in length,Easy,110000.0
17,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Codecademy,7,4,"Developer, full-stack",2 to 9 employees,I have some influence,Start a free trial;Research companies that hav...,Czech Republic,CZK\tCzech koruna,37000.0,Monthly,C#;Java;PHP;Python;R,JavaScript;Kotlin;PowerShell;SQL;TypeScript;VBA,Elasticsearch;MySQL,MariaDB;MongoDB;MySQL;PostgreSQL,Google Cloud;VMware,AWS,Angular;Laravel;Node.js;React.js;Vue.js,Angular;Next.js;Node.js;Nuxt.js;React.js;Symfo...,Electron;React Native,Electron,Docker;npm,Docker;npm,IntelliJ;Notepad++;Visual Studio Code,IntelliJ;Notepad++,Windows,Windows,Git,Command-line;Dedicated version control GUI app...,NaN,NaN,Jira Work Management;Trello,Jira Work Management,Microsoft Teams;Slack,Microsoft Teams;Slack,Unfavorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,Neutral,25-34 years old,Man,No,Bisexual,European,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,19224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,7,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflo...,India,NaN,NaN,NaN,C;Python;SQL,C;C++,MySQL,NaN,NaN,NaN,NaN,NaN,.NET,NaN,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio Code,NaN,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Very unfavorable,Stack Overflow;Stack Exchange,Less than once per month or monthly,Yes,Less than once per month or monthly,"No, not at all",Under 18 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
73262,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Programming Game...,Udemy;Codecademy;Pluralsight,9,2,"Developer, full-stack","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,France,EUR European Euro,36000.0,Yearly,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL...,Bash/Shell;HTML/CSS;Java;JavaScript;Kotlin;Pyt...,MySQL,Elasticsearch;MongoDB;MySQL;Redis,Microsoft Azure,Microsoft Azure,Angular;Angular.js;Drupal;Node.js,Angular;Node.js,Spring,Spring,Docker;npm,Ansible;Chef;Docker;Kubernetes;npm;Terraform;Yarn,Eclipse;Notepad++;Visual Studio Code,IntelliJ;Visual Studio Code,Linux-based;Windows;Windows Subsystem for Linu...,Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management,NaN,Microsoft Teams,Microsoft Teams,Unfavorable,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not really",18-24 years old,Man,No,NaN,European,None of the above,None of the above,Yes,Independent contributor,2.0,Agree,Agree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,1-2 times a week,3-5 times a week,1-2 times a week,15-30 minutes a day,15-30 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN

In [56]:
df.loc[filt_python, ["LanguageHaveWorkedWith"]].sample(5)

                           LanguageHaveWorkedWith
ResponseId
502           Assembly;C;C#;C++;PowerShell;Python
29658                                C;C++;Python
14125                                   Go;Python
63876                      Bash/Shell;Python;Ruby
30862       HTML/CSS;JavaScript;Python;TypeScript

# Updating Rows and Columns - Modifying Data Within DataFrames

In [98]:
df11 = pd.DataFrame(people)
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [72]:
df11.columns

Index(['first', 'last', 'email'], dtype='object')

In [80]:
df11.index.names

FrozenList([None])

In [89]:
# extra_info: if index names were label, we'd see them. ex:
df11["new"] = "a b c".split()
df12 = df11.set_index("new")
df12

     first     last                    email
new
a    Corey  Schafer  CoreyMSchafer@gmail.com
b     Jane      Doe        JaneDoe@email.com
c     John      Doe        JohnDoe@email.com

In [91]:
df12.index

Index(['a', 'b', 'c'], dtype='object', name='new')

In [100]:
# how to change column names
# 1 df.columns
df11.columns = ["first_name", "last_name", "email"] 
df11.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [102]:
# how to modify column names (lowercase, underscore ins of spaces etc) instead of changing the completely
# we can use list comp for that
# let's capitalize all the letters

df11.columns = [x.upper() for x in df11.columns]
df11

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [104]:
# how to replace a space with underscore in column names
# we can use str replace method for that
df11.columns = df11.columns.str.replace(" ", "_")
df11

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [106]:
# let's lower them again
df11.columns = [x.lower() for x in df11.columns]
df11

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [112]:
# sofar we've modified all the columns together. how to change them separately

df11.rename(columns= {"first_name" : "first", "last_name" : "last"}, inplace = True)

In [113]:
df11.columns

Index(['first', 'last', 'email'], dtype='object')

# how to update rows

In [399]:
# let's change JOhn Doe's last name
df11.loc[2]

first                 John
last                   Doe
email    JohnDoe@email.com
Name: 2, dtype: object

In [121]:
df11.loc[2] = ["John", "Smith", "JohSmith@email.com"]
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith       JohSmith@email.com

In [122]:
# but that would be impossible for a big dataset. So:

df11.loc[2, ["last", "email"]] = ["Doe", "JohnDoe@email.com"]
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [125]:
# changing a single value
df11.loc[2, "last"] = "Smith"
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [126]:
df11.at[2, "last"] = "Doe"

In [127]:
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [140]:
# changing by filter
filt = (df11["last"] == "Schafer")

In [142]:
df11.loc[filt, "last"] = "Smith"
df11

   first   last                    email
0  Corey  Smith  CoreyMSchafer@gmail.com
1   Jane    Doe        JaneDoe@email.com
2   John    Doe        JohnDoe@email.com

In [143]:
df11.loc[df11["last"]=="Smith", "last"] = "Schafer"
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

# how to update multiple rows of data

In [144]:
# 1) let's lower all email addresses

df11["email"].str.lower()

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [145]:
df11  # but it doesn't change them permanently

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [146]:
# but this changes
df11["email"] = df11["email"].str.lower()
df11

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John      Doe        johndoe@email.com

# 2) some advance methods: apply, map, applymap, replace
# 2.1 apply()

In [148]:
# display the length of multiple values with apply

df11["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [149]:
def lower_it(a):
    return a.lower()

df11["first"].apply(lower_it)

0    corey
1     jane
2     john
Name: first, dtype: object

In [152]:
def upper_it(a):
    return a.upper()

df11["last"].apply(upper_it)

0    SCHAFER
1        DOE
2        DOE
Name: last, dtype: object

In [153]:
def capitalize_it(a):
    return a.title()

df11["last"].apply(capitalize_it)

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object

In [154]:
# lambda option is used often with apply

df11["last"].apply(lambda x: x.upper())

0    SCHAFER
1        DOE
2        DOE
Name: last, dtype: object

In [155]:
df11["last"].apply(lambda i : i.title())

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object

In [164]:
# the last column is a series. what about executing apply function through all dataframe

df11.apply(len)
# this gives the value numbers for each columns

first    3
last     3
email    3
dtype: int64

In [165]:
df11.apply(len, axis = 1)
# we can change axis and see the result also for rows

0    3
1    3
2    3
dtype: int64

In [166]:
# so, apply works for the entire rows and columns

df11.apply(min)
# ascii values

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [168]:
# or
df11.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [167]:
df11.apply(min, axis = 1)

0    Corey
1      Doe
2      Doe
dtype: object

In [172]:
df11.apply(pd.Series.count)

first    3
last     3
email    3
dtype: int64

In [174]:
df11.apply(pd.Series.max)

first                 John
last               Schafer
email    johndoe@email.com
dtype: object

In [175]:
df11.apply(lambda x: x.min())
# lambda works through series. so this x is a serie. therefore we can use only series methods/attributes

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

# how to apply a function to every single element of a df
# 2.2 applymap

it works only with dataframes (not series)

In [177]:
display(df11.applymap(len), df11.apply(len))

   first  last  email
0      5     7     23
1      4     3     17
2      4     3     17

first    3
last     3
email    3
dtype: int64

In [178]:
df11.applymap(str.lower)
# df'de numeric olmadigi icin yapabildi

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john      doe        johndoe@email.com

# 2.3 map method

it works just on series. it's used for substituting each value in a series for a value

In [183]:
df11["first"].map({"Corey": "James", "Jane": "Lucy"})
# not inplace

0    James
1     Lucy
2      NaN
Name: first, dtype: object

**Note: the values that we didn't substitute, such as John above, comes as NaN.**

**Replace method can keep John too**

# 2.4 Replace

In [184]:
df11["first"].replace({"Corey": "James", "Jane": "Lucy"})
# not inplace

0    James
1     Lucy
2     John
Name: first, dtype: object

In [185]:
df11

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John      Doe        johndoe@email.com

# Stackoverflow dataset

In [186]:
df.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly,last
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN,Smith
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0,NaN
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0,NaN
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN

In [192]:
df.rename(columns = {"ConvertedCompYearly" :"SalaryUSD" }).head(1)
# but this is not a permanent change. to do it df.columns = ... or inplace = True

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,SalaryUSD,last
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
df.columns.drop("last")

Index(['MainBranch', 'Employment', 'RemoteWork', 'CodingActivities', 'EdLevel',
       'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'Country', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith',
       'OpSysProfessional use', 'OpSysPersonal use', 'VersionControlSystem',
       'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [191]:
df.columns

Index(['MainBranch', 'Employment', 'RemoteWork', 'CodingActivities', 'EdLevel',
       'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'Country', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith',
       'OpSysProfessional use', 'OpSysPersonal use', 'VersionControlSystem',
       'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly',
       'last'],
      dtype='object')

In [198]:
df["CodingActivities"]
df["CodingActivities"].map({"Hobby":"Voluntary"})
# permanent change df["CodingActivities"] = df["CodingActivities"].map({"Hobby":"Voluntary"})

ResponseId
1              NaN
2              NaN
3        Voluntary
4              NaN
5        Voluntary
           ...
73264          NaN
73265    Voluntary
73266          NaN
73267    Voluntary
73268          NaN
Name: CodingActivities, Length: 73268, dtype: object

In [199]:
df["CodingActivities"].replace({"Hobby":"Voluntary"})

# permanent change df["CodingActivities"] = df["CodingActivities"].replace({"Hobby":"Voluntary"})

ResponseId
1                                                      NaN
2                 Hobby;Contribute to open-source projects
3                                                Voluntary
4                             I don’t code outside of work
5                                                Voluntary
                               ...
73264                              Freelance/contract work
73265                                            Voluntary
73266                        Hobby;School or academic work
73267                                            Voluntary
73268    Hobby;Contribute to open-source projects;Boots...
Name: CodingActivities, Length: 73268, dtype: object

# Add/Remove Rows and Columns From DataFrames

In [225]:
# adding columns
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df11 = pd.DataFrame(people)
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [226]:
# let's combine first and last columns
df11["first"] + " " + df11["last"]

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [227]:
df11["full_name"] = df11["first"] + " " + df11["last"]

df11

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [228]:
df11.drop(["first", "last"], axis=1, inplace=True)
# or df11.drop(columns= ["first", "last"])

In [209]:
df11

                     email      full_name
0  coreymschafer@gmail.com  Corey Schafer
1        janedoe@email.com       Jane Doe
2        johndoe@email.com       John Doe

In [229]:
# how to reverse it back and bring first and last names back

df11["full_name"].str.split()

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
Name: full_name, dtype: object

In [230]:
# how to assign them into two different columns
# we use expand parameter for that
df11["full_name"].str.split(" ", expand = True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [231]:
df11[["first", "last"]] = df11["full_name"].str.split(" ", expand = True)
df11

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

# how to add & remove rows
1) adding a single row

In [217]:
df11.append({"first": "Tony"}, ignore_index= True)

/var/folders/kd/j9mqrdy93j33xdby6bflbgt00000gn/T/ipykernel_36169/4249742960.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df11.append({"first": "Tony"}, ignore_index= True)

                     first           last  email full_name
0  coreymschafer@gmail.com  Corey Schafer  Corey   Schafer
1        janedoe@email.com       Jane Doe   Jane       Doe
2        johndoe@email.com       John Doe   John       Doe
3                     Tony            NaN    NaN       NaN

In [218]:
# adding a signle row from another df:

people = {
    "first": ["Jim", 'Harvey'], 
    "last": ["Bent", 'Kent'], 
    "email": ["jim@gmail.com", 'Harvey@email.com']
}
df12 = pd.DataFrame(people)
df12

    first  last             email
0     Jim  Bent     jim@gmail.com
1  Harvey  Kent  Harvey@email.com

In [233]:
df11.append(df12, ignore_index=True, sort = False)

/var/folders/kd/j9mqrdy93j33xdby6bflbgt00000gn/T/ipykernel_36169/1363021747.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df11.append(df12, ignore_index=True, sort = False)

                     email      full_name   first     last
0  CoreyMSchafer@gmail.com  Corey Schafer   Corey  Schafer
1        JaneDoe@email.com       Jane Doe    Jane      Doe
2        JohnDoe@email.com       John Doe    John      Doe
3            jim@gmail.com            NaN     Jim     Bent
4         Harvey@email.com            NaN  Harvey     Kent

In [237]:
# another way: pd.concat
df13 = pd.concat([df11, df12])
df13

                     email      full_name   first     last
0  CoreyMSchafer@gmail.com  Corey Schafer   Corey  Schafer
1        JaneDoe@email.com       Jane Doe    Jane      Doe
2        JohnDoe@email.com       John Doe    John      Doe
0            jim@gmail.com            NaN     Jim     Bent
1         Harvey@email.com            NaN  Harvey     Kent

In [240]:
# how to avoid index conflict
df14 = pd.concat([df11, df12], ignore_index=True)
df14

                     email      full_name   first     last
0  CoreyMSchafer@gmail.com  Corey Schafer   Corey  Schafer
1        JaneDoe@email.com       Jane Doe    Jane      Doe
2        JohnDoe@email.com       John Doe    John      Doe
3            jim@gmail.com            NaN     Jim     Bent
4         Harvey@email.com            NaN  Harvey     Kent

In [241]:
# how to remove rows
df14.drop(4)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3            jim@gmail.com            NaN    Jim     Bent

In [246]:
# how to remove a row with conditional selection
# let's drop the rows in which last name is Doe

df14.drop(index = (df14[df14["last"]== "Doe"].index))

                     email      full_name   first     last
0  CoreyMSchafer@gmail.com  Corey Schafer   Corey  Schafer
3            jim@gmail.com            NaN     Jim     Bent
4         Harvey@email.com            NaN  Harvey     Kent

In [247]:
# or we can first assign it to a variable
filt = df14["last"] == "Doe"

df14.drop(index = (df14[filt].index))

                     email      full_name   first     last
0  CoreyMSchafer@gmail.com  Corey Schafer   Corey  Schafer
3            jim@gmail.com            NaN     Jim     Bent
4         Harvey@email.com            NaN  Harvey     Kent

# Sorting Data

In [249]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df11 = pd.DataFrame(people)
df11

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [252]:
# sort values by last column

print(df11.sort_values(["last"]))

df11.sort_values(by="last")

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [254]:
df11.sort_values("last", ascending = False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [255]:
# how to sort with multiple columns:
# if there are duplicate last names, then use first column as a second sort value

df11.sort_values(["last", "first"])

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [258]:
# is it possible to sort ascending for one column and descending for another one at the same time?

people2 = {
    "first": ["Corey", 'Jane', 'John', "Adam"], 
    "last": ["Schafer", 'Doe', 'Doe', "Doe"], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com', "AdamDoe@gmail.com"]
}

df14 = pd.DataFrame(people2)
df14

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe        AdamDoe@gmail.com

In [259]:
df14.sort_values(["last", "first"], ascending = False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe        AdamDoe@gmail.com

In [264]:
# last name ascending and first name descending order:

df14.sort_values(["last", "first"], ascending = [False, True], inplace=True)
df14

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Adam      Doe        AdamDoe@gmail.com
2   Jane      Doe        JaneDoe@email.com
3   John      Doe        JohnDoe@email.com

In [265]:
# how to sort index too
#1) df14.sort_values(["last", "first"], ascending = [False, True], inplace=True, ignore_index = True)
# 2. sort_index
df14.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Adam      Doe        AdamDoe@gmail.com
2   Jane      Doe        JaneDoe@email.com
3   John      Doe        JohnDoe@email.com

In [268]:
# if we want to sort just a column and not entire dataframe: for last column:

df14["last"].sort_values()

1        Doe
2        Doe
3        Doe
0    Schafer
Name: last, dtype: object

# Sorting on stackoverflow dataset

In [270]:
df.head(2)

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly,last
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN,Smith

In [272]:
# let's sort the dataset through country

df.sort_values("Country", inplace = True)

In [273]:
# let's check fist fifty country values
df["Country"].head(50)

ResponseId
51189    Afghanistan
38513    Afghanistan
7945     Afghanistan
29705    Afghanistan
19202    Afghanistan
24813    Afghanistan
56356    Afghanistan
2738     Afghanistan
56267    Afghanistan
56189    Afghanistan
69587    Afghanistan
2449     Afghanistan
5465     Afghanistan
43691    Afghanistan
30041    Afghanistan
43640    Afghanistan
17039    Afghanistan
28583    Afghanistan
28435    Afghanistan
64907    Afghanistan
8891     Afghanistan
6892     Afghanistan
46423    Afghanistan
60147    Afghanistan
69400    Afghanistan
26618    Afghanistan
17470    Afghanistan
23224    Afghanistan
60517    Afghanistan
25963    Afghanistan
58078    Afghanistan
3887     Afghanistan
6777     Afghanistan
60650    Afghanistan
61618    Afghanistan
53961    Afghanistan
60626    Afghanistan
23162    Afghanistan
71716    Afghanistan
22877    Afghanistan
34044    Afghanistan
33429    Afghanistan
61936    Afghanistan
4503     Afghanistan
30851    Afghanistan
21766    Afghanistan
33329    Afghanistan
49274    Afghanistan
42123    Afghanistan
61768    Afghanistan
Name: Country, dtype: object

In [276]:
# let's add salaries here and see the output for these countries

df[["Country", "ConvertedCompYearly"]].head(50)

                Country  ConvertedCompYearly
ResponseId
51189       Afghanistan                  NaN
38513       Afghanistan             158484.0
7945        Afghanistan                  NaN
29705       Afghanistan                  NaN
19202       Afghanistan                  NaN
24813       Afghanistan                  NaN
56356       Afghanistan                  NaN
2738        Afghanistan                  NaN
56267       Afghanistan                  NaN
56189       Afghanistan                  NaN
69587       Afghanistan                  NaN
2449        Afghanistan              10894.0
5465        Afghanistan                  NaN
43691       Afghanistan              13212.0
30041       Afghanistan                  NaN
43640       Afghanistan              92448.0
17039       Afghanistan                  NaN
28583       Afghanistan                  NaN
28435       Afghanistan                  NaN
64907       Afghanistan                  NaN
8891        Afghanistan                  NaN
6892        Afghanistan              15600.0
46423       Afghanistan                  NaN
60147       Afghanistan                  NaN
69400       Afghanistan                  NaN
26618       Afghanistan                  NaN
17470       Afghanistan                  NaN
23224       Afghanistan               5280.0
60517       Afghanistan                  NaN
25963       Afghanistan                  NaN
58078       Afghanistan                  NaN
3887        Afghanistan                  NaN
6777        Afghanistan                  NaN
60650       Afghanistan                  NaN
61618       Afghanistan                  NaN
53961       Afghanistan                  NaN
60626       Afghanistan                  NaN
23162       Afghanistan                  NaN
71716       Afghanistan                  NaN
22877       Afghanistan                  NaN
34044       Afghanistan                  NaN
33429       Afghanistan                  NaN
61936       Afghanistan                  NaN
4503        Afghanistan                  NaN
30851       Afghanistan                  NaN
21766       Afghanistan                  NaN
33329       Afghanistan                  NaN
49274       Afghanistan               1634.0
42123       Afghanistan                  NaN
61768       Afghanistan                  NaN

In [277]:
# let's filter this for Canada
df[["Country", "ConvertedCompYearly"]].loc[df.Country == "Canada"]

           Country  ConvertedCompYearly
ResponseId
19303       Canada              51536.0
19392       Canada                  NaN
20776       Canada             101509.0
12288       Canada             156168.0
20728       Canada             124935.0
...            ...                  ...
8127        Canada             210827.0
243         Canada              46850.0
263         Canada              43727.0
145         Canada              35138.0
127         Canada              78084.0

[2490 rows x 2 columns]

In [278]:
# let's filter this for Turkey
df[["Country", "ConvertedCompYearly"]].loc[df.Country == "Turkey"]

           Country  ConvertedCompYearly
ResponseId
62639       Turkey              38388.0
62599       Turkey                  NaN
56944       Turkey                  NaN
36987       Turkey              12780.0
5483        Turkey                  NaN
...            ...                  ...
22227       Turkey                  NaN
16114       Turkey                  NaN
69913       Turkey              31992.0
30383       Turkey                  NaN
11005       Turkey               7512.0

[1020 rows x 2 columns]

In [281]:
# how to see ten largest salary

df["ConvertedCompYearly"].nlargest(10)

ResponseId
40305    50000000.0
202      44790396.0
62027    35000000.0
70523    32500000.0
61044    28853768.0
18923    22500000.0
62224    22500000.0
66496    18000000.0
1291     15000000.0
24164    15000000.0
Name: ConvertedCompYearly, dtype: float64

In [285]:
df["ConvertedCompYearly"].nlargest(10)

ResponseId
40305    50000000.0
202      44790396.0
62027    35000000.0
70523    32500000.0
61044    28853768.0
18923    22500000.0
62224    22500000.0
66496    18000000.0
1291     15000000.0
24164    15000000.0
Name: ConvertedCompYearly, dtype: float64

In [286]:
# how can we see other columns for these 10 largest salaries

df.nlargest(10, "ConvertedCompYearly")

# columns = "ConvertedCompYearly"

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly,last
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
40305,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Full in-person,Freelance/contract work,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Blogs;Stack Overflow;Online books;Video-based ...,NaN,Less than 1 year,2,"Engineer, data;Engineer, site reliability;Deve...","5,000 to 9,999 employees",I have a great deal of influence,Other (please specify):;Visit developer commun...,United Kingdom of Great Britain and Northern I...,USD\tUnited States dollar,1000000.0,Weekly,APL;Assembly;Bash/Shell;C;C#;C++;COBOL;Crystal...,NaN,Cassandra;Couchbase;CouchDB;Cloud Firestore;Dy...,NaN,AWS;Colocation;Firebase;Google Cloud;Heroku;IB...,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core ;Blazo...,NaN,.NET;Apache Kafka;Capacitor;Cordova;Electron;F...,NaN,Ansible;Chef;Docker;Flow;Homebrew;Kubernetes;n...,NaN,Android Studio;Atom;CLion;Eclipse;Emacs;GoLand...,NaN,Other (please specify):,Linux-based;macOS;Windows;Windows Subsystem fo...,Git;Other (please specify):;Mercurial;SVN,Code editor;Command-line;Version control hosti...,NaN,NaN,Adobe Workfront;Airtable;Asana;Cerri;ClickUp;C...,NaN,Cisco Webex Teams;Coolfire Core;Google Chat;Ma...,NaN,Very favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,Prefer not to say,Prefer not to say,Prefer not to say,Central Asian,Prefer not to say,Prefer not to say,Yes,Independent contributor,11.0,Agree,Agree,Agree,Agree,Agree,Agree,Agree,10+ times a week,3-5 times a week,6-10 times a week,60-120 minutes a day,60-120 minutes a day,Very long,Innersource initiative;DevOps function;Develop...,Yes,Yes,Yes,Appropriate in length,Easy,50000000.0,NaN
202,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;edX,9,6,"Developer, front-end","10,000 or more employees",I have some influence,Start a free trial;Visit developer communities...,Portugal,EUR European Euro,42000044.0,Yearly,JavaScript;TypeScript,JavaScript;TypeScript,MariaDB;MongoDB,MongoDB,AWS;Firebase,AWS,Angular;Node.js;React.js;Svelte,Angular;Gatsby;Next.js;Node.js;React.js;Svelte...,NaN,NaN,npm,Ansible;Docker;Kubernetes;npm;Terraform,Visual Studio Code,Visual Studio Code,macOS;Windows,macOS;Windows,Git,Code editor;Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Cisco Webex Teams,Slack,Very favorable,Collectives on Stack Overflow;Stack Overflow;S...,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,25-34 years old,Woman,No,Straight / Heterosexual,White;European;Hispanic or Latino/a,I am blind / have difficulty seeing,"I have a mood or emotional disorder (e.g., dep...",Yes,Independent contributor,2.0,Strongly agree,Strongly agree,Neither agree nor disagree,Agree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,1-2 times a week,1-2 times a week,1-2 times a week,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,44790396.0,NaN
62027,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Video-based Online Courses;O...,NaN,6,1,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,I have little or no influence,NaN,United States of America,USD\tUnited States dollar,700000.0,Weekly,Bash/Shell;Go;JavaScript;TypeScript,Bash/Shell;Go;JavaScript;Python;TypeScript,Elasticsearch;PostgreSQL,CouchDB;DynamoDB;Elasticsearch;MongoDB;MySQL;N...,NaN,NaN,Node.js;React.js;Vue.js,Node.js;React.js;Svelte;Vue.js,NaN,NaN,Docker,Docker;Kubernetes;Terraform;Unity 3D;Unreal En...,Visual Studio Code,NaN,Linux-based;Windows;Windows Subsystem for Linu...,Linux-based;Windows;Windows Subsystem for Linu...,Git,Command-line;Dedicated version control GUI app...,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,Asian,None of the above,None of the above,Yes,Independent contributor,1.0,Neither agree nor disagree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,35000000.0,NaN
70523,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Pluralsight;Udacity;Other,22,10,"Engineer, site reliability;DevOps specialist;C...","1,000 to 4,999 employees",I have a great deal of influence,Other (please specify):;Start a free trial;Vis...,United States of America,USD\tUnited States dollar,650000.0,Weekly,Bash/Shell;Go;JavaScript;Python;SQL,Bash/Shell;Go;JavaScript;Python;SQL,DynamoDB;Microsoft SQL Server;MySQL;PostgreSQL...,DynamoDB;PostgreSQL;Redis,AWS;Google Cloud;Heroku;Linode,AWS;Google Cloud;Heroku;Linode;Microsoft Azure,Angular;Angular.js;Node.js,Angular;Angular.js;Node.js,Apache Kafka;Apache Spark;Hadoop;NumPy;TensorFlow,Apache Kafka;Apache Spark;NumPy;TensorFlow,Docker;Kubernetes;npm;Terraform,Docker;Kubernetes;npm;Terraform,Vim;Visual Studio Code,Emacs;Vim;Visual Studio Code,Linux-based,Linux-based,Git,Command-line;Version control hosting service w...,NaN,NaN,Confluence;Jira Work Management;Notion;Trello,ClickUp;Confluence;Jira Work Management;Notion...,Google Chat;Slack;Zoom,Google Chat;Slack,Favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Not sure/can't remember,NaN,Neutral,35-44 years old,Man,No,Straight / Heterosexual,European;Central American;Hispanic or Latino/a,None of the above,I have autism / an autism spectrum disorder (e...,Yes,Independent contributor,16.0,Strongly agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Disagree,1-2 times a week,3-5 times a week,1-2 times a week,30-60 minutes a day,Less than 15 minutes a day,Somewhat short,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,32500000.0,NaN
61044,I am a developer by profession,I prefer not to say,NaN,NaN,Primary/elementary school,On the job training;Online Courses or Certific...,NaN,Skillsoft,Less than 1 year,Less than 1 year,NaN,"Just me - I am a freelancer, sole proprietor, ...",I have little or no influence,Start a free trial;Visit developer communities...,Thailand,THB\tThai baht,985692510.0,Yearly,Go;HTML/CSS;Java;JavaScript;Objective-C;Swift;...,APL;Go;HTML/CSS;Java;JavaScript;Objective-C;Sw...,Cassandra;PostgreSQL,Cassandra;PostgreSQL,AWS,AWS,NaN,NaN,.NET,.NET,Ansible,Ansible,Android Studio,Android Studio,Other (please specify):,Other (please specify):,Other (please specify):,Code editor;Command-line;Version control hosti...,NaN,NaN,NaN,NaN,NaN,NaN,Unsure,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"No, not at all",25-34 years old,Man,Yes,Straight / Heterosexual,Prefer not to say,I am deaf / hard of hearing;I am unable to / f...,Prefer not to say,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,28853768.0,NaN
18923,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,NaN,Coursera;edX;Udacity,36,21,"Engineer, data;Developer, back-end;Cloud infra...","1,000 to 4,999 employees",I have little or no influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,450000.0,Weekly,Python;Scala,NaN,DynamoDB;PostgreSQL,NaN,AWS,NaN,NaN,NaN,NumPy;Pandas,NaN,NaN,NaN,IntelliJ;RStudio,NaN,NaN,Windows,Git,Dedicated version control GUI application,NaN,NaN,Jira Work Management,NaN,Cisco Webex Teams;Google Chat;Slack,NaN,Very favorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a;Indigenous (such as Nativ...,None of the above,I have autism / an autism spectrum disorder (e...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,22500000.0,NaN
62224,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Friend or family member;Other online resources...,Technical documentation;Blogs;Stack Overflow;O...,NaN,15,10,"Developer, back-end;Cloud infrastructure engineer","5,000 to 9,999 employees",I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,450000.0,Weekly,Bash/Shell;HTML/CSS;Java;JavaScript;Python;Sca...,Go;Java;Python;Scala;SQL,Cassandra;DynamoDB;Elasticsearch;MySQL;Redis,Cassandra;Elasticsearch;MySQL;Redis,AWS,AWS;Google Cloud,Django;FastAPI;Flask;Node.js;React.js;Vue.js,Django;Flask;Node.js,Apache Kafka;Spring,Apache Kafka;Hadoop;Spring,Chef;Docker;Homebrew,Docker;Homebrew;Kubernetes;Terraform,IntelliJ;Vim,IntelliJ;Vim,macOS,Linux-based;macOS;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Airtable;Confluence;Jira Work Management;Trello,Airtable;Confluence;Jira Work Management;Stack...,Slack;Zoom,Slack;Zoom,Favorable,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, definitely",25-34 years old,Man,No,Queer,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,22500000.0,NaN
66496,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Other,8,6,"Developer, back-end;DevOps specialist",100 to 499 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,360000.0,Weekly,Bash/Shell;Go;HTML/CSS;JavaScript;Python;Ruby;SQL,Bash/Shell;Go;HTML/CSS;JavaScript;Python;SQL,MongoDB;PostgreSQL;Redis,MongoDB;PostgreSQL;Redis,AWS,AWS,Next.js;Node.js;Ruby on Rails,Node.js,Apache Kafka,Apache Kafka;TensorFlow;Torch/PyTorch,Ansible;Chef;Docker;Homebrew;Kubernetes;npm;Te...,Ansible;Docker;Homebrew;Kubernetes;npm,Vim,Vim,macOS,Linux-based;macOS;Windows,Git,Command-line;Version control hosting service w...,NaN,NaN,Asana;Notion,Notion,RingCentral;Slack;Zoom,RingCentral;Slack;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Asian,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,18000000.0,NaN
1291,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Other doctoral degree (Ph.D., Ed.D., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Coursera;Pluralsight;edX,10,5,Data scientist or machine learning specialist;...,"10,000 or more employees",I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,300000.0,Weekly,Python,NaN,MongoDB,MongoDB;MySQL;SQLite,AWS;Microsoft Azure,Microsoft Azure,NaN,NaN,Keras;NumPy;Pandas;Qt;Scikit-learn;TensorFlow;...,NaN,NaN,NaN,IPython/Jupyter;Visual Studio Code,NaN,Windows,Linux-based;Windows,Git,Command-line;Dedicated version control GUI app...,NaN,NaN,Confluence;Jira Work Management;Notion,NaN,Microsoft Teams;Slack;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,15000000.0,NaN
24164,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Freelance/contract work,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,12,10,NaN,"1,000 to 4,999 employees",I have some influence,Ask developers I know/work with,United States of America,USD\tUnited States dollar,300000.0,Weekly,JavaScript;Ruby;SQL,Crystal;Elixir,MySQL;Redis,NaN,AWS;Microsoft Azure,NaN,jQuery;Ruby on Rails,Phoenix,NaN,NaN,Docker;Homebrew;Kubernetes;npm;Yarn,Unreal Engine,Neovim;Vim;Visual Studio Code,Android Studio,macOS,Linux-based,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Slack;Zoom,NaN,Very unfavorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,Caribbean;Hispanic or Latino/a,None of the above,I have a concentration and/or memory disorder ...,Yes,Independent contributor,22.0,Agree,Agree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,No,Appropriate in length,Easy,15000000.0,NaN

In [287]:
# how to see lowest salaries: nsmallest

df.nsmallest(10, "ConvertedCompYearly")

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly,last
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
19913,"I am not primarily a developer, but I write co...",I prefer not to say,NaN,NaN,Primary/elementary school,Books / Physical media,NaN,NaN,13,More than 50 years,NaN,"10,000 or more employees",I have little or no influence,Start a free trial;Research companies that hav...,Belgium,EUR European Euro,1.0,Yearly,Java;PowerShell;Python;SQL;TypeScript,HTML/CSS;JavaScript;PowerShell;Python;SQL;Type...,IBM DB2;Microsoft SQL Server;MySQL;Oracle;Fire...,IBM DB2;Microsoft SQL Server;MySQL;Oracle;Fire...,AWS;Colocation;DigitalOcean;Firebase;Google Cl...,AWS;Colocation;DigitalOcean;Firebase;Google Cl...,jQuery;Next.js;Node.js;Nuxt.js;Phoenix;Play Fr...,jQuery;Next.js;Node.js;Nuxt.js;Phoenix;Play Fr...,.NET;Apache Kafka;Apache Spark;Electron;Keras;...,.NET;Apache Kafka;Apache Spark;Electron;Keras;...,Chef;Docker;Flow;npm;Terraform;Unreal Engine,Chef;Docker;Flow;npm;Terraform;Unreal Engine,Android Studio;Atom;Eclipse;GoLand;IPython/Jup...,Android Studio;Atom;Eclipse;GoLand;IPython/Jup...,Linux-based,BSD;Linux-based;Windows;Windows Subsystem for ...,I don't use one,NaN,NaN,NaN,Adobe Workfront;DingTalk (Teambition);Jira Wor...,Adobe Workfront;DingTalk (Teambition);Jira Wor...,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Very favorable,Stack Overflow for Teams (private knowledge sh...,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",45-54 years old,Man,No,Prefer not to say,European,I am deaf / hard of hearing,I have an anxiety disorder;I have a concentrat...,Yes,Independent contributor,20.0,Strongly disagree,Disagree,Disagree,Disagree,Disagree,NaN,Disagree,10+ times a week,10+ times a week,10+ times a week,15-30 minutes a day,30-60 minutes a day,Very long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,1.0,NaN
65743,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Blogs;Written Tutorials;Stack Overflow;Video-b...,Coursera;Udemy;Codecademy;Udacity,8,2,"Developer, back-end;Developer, desktop or ente...","10,000 or more employees",I have some influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,45.0,Yearly,C;C++;Java;Python,Go;Java;PowerShell;Python;SQL,Couchbase,Cassandra;Couchbase;Elasticsearch;Redis,NaN,NaN,ASP.NET;Django;Laravel;Ruby on Rails,Ruby on Rails,Keras;NumPy;Pandas;Qt;Scikit-learn;Spring;Tens...,Flutter;Spring,Docker;Kubernetes,Ansible;Docker;Homebrew;Kubernetes;Yarn,Atom;IntelliJ;IPython/Jupyter;NetBeans;Notepad...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Linux-based;macOS;Windows,Linux-based;Windows,Git,Command-line,NaN,NaN,Confluence;Microsoft Planner,Confluence,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Favorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Woman,No,Straight / Heterosexual,Indian;Asian,None of the above,None of the above,Yes,Independent contributor,2.0,Agree,Agree,Strongly agree,Strongly agree,Strongly agree,Agree,Neither agree nor disagree,1-2 times a week,1-2 times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Somewhat short,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,1.0,NaN
39916,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Freelance/contract work;School or academic work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Online Courses or Certific...,NaN,Udemy;Pluralsight,15,11,"Developer, full-stack;Developer, back-end;Engi...",500 to 999 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,India,INR\tIndian rupee,50.0,Yearly,Assembly;C#;HTML/CSS;JavaScript;MATLAB;PowerSh...,Assembly;C#;HTML/CSS;JavaScript;SQL;TypeScript,DynamoDB;Elasticsearch;Microsoft SQL Server;MySQL,DynamoDB;Elasticsearch;Microsoft SQL Server;MySQL,AWS;Microsoft Azure,AWS,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,ASP.NET;ASP.NET Core ;jQuery;Node.js;React.js,.NET,.NET;React Native,Docker;npm,Docker;npm,Android Studio;Eclipse;RStudio;Visual Studio;V...,Visual Studio;Visual Studio Code,Linux-based;Windows;Windows Subsystem for Linu...,Windows,Git;SVN,Command-line,NaN,NaN,Confluence;Jira Work Management;Trello,Confluence;Jira Work Management;Trello,Google Chat;Slack;Zoom,Google Chat;Slack;Zoom,Favorable,Stack Overflow,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",25-34 years old,Woman,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,People manager,11.0,Agree,Agree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,3-5 times a week,3-5 times a week,1-2 times a week,60-120 minutes a day,Over 120 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,1.0,NaN
64367,"I am not primarily a developer, but I write co...","Employed, full-time",Fully remote,Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Video-based Onli...,Coursera;Udemy;Codecademy,2,Less than 1 year,Other (please specify):,500 to 999 employees,I have little or no influence,Start a free trial,United States of America,USD\tUnited States dollar,1.0,Yearly,NaN,NaN,Couchbase,Couchbase,AWS;Google Cloud;Heroku,AWS;Google Cloud,NaN,NaN,NumPy;Pandas;Scikit-learn,.NET;NumPy;Pandas,Docker;Kubernetes,Docker;Kubernetes;Terraform,Visual Studio Code,Visual Studio Code,Linux-based;macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Indifferent,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,Neutral,45-54 years old,Man,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,1.0,NaN
52006,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business;Freelance/contr...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,7,5,"Developer, back-end;Developer, desktop or ente...",20 to 99 employees,I have some influence,Start a free trial;Ask developers I know/work ...,Viet Nam,VND\tVietnamese dong,20000.0,Yearly,C#;JavaScript;PHP,C#;Go;JavaScript,Elasticsearch;MongoDB;MySQL;PostgreSQL;Redis,Elasticsearch;MongoDB;PostgreSQL;Redis,DigitalOcean,AWS;Microsoft Azure,ASP.NET Core ;Blazor;Laravel,ASP.NET Core ;React.js;Vue.js,.NET;Apache Kafka,.NET;Apache Kafka;Flutter,Docker;Yarn,Docker;Kubernetes;Terraform;Yarn,Rider;Visual Studio Code,Rider;Visual Studio Code,Linux-based;Windows,Windows;Windows Subsystem for Linux (WSL),Git,Command-line,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Zoom,Microsoft Teams,Very favorable,Collectives on Stack Overflow;Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Asian;Southeast Asian,None of the above,None of the above,Yes,Independent contributor,5.0,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Agree,Neither agree nor disagree,Never,1-2 times a week,Never,30-60 minutes a day,15-30 minutes a day,Very short,None of these,Yes,Yes,Yes,Appropriate in length,Easy,1.0,NaN
36436,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Associate degree (A.A., A.S., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow,NaN,14,4,"Developer, front-end;Developer, full-stack;Dev...",100 to 499 employees,I have some influence,Start a free trial;Visit developer communities...,Japan,JPY\tJapanese yen,350.0,Yearly,C#;HTML/CSS;Java;JavaScript;Python;TypeScript,C#;HTML/CSS;Python;TypeScript,MongoDB;PostgreSQL,PostgreSQL,AWS;Microsoft Azure,AWS,ASP.NET Core ;Nuxt.js;Vue.js,NaN,NaN,NaN,NaN,NaN,Eclipse;Vim;Visual Studio;Visual Studio Code,Vim;Visual Studio;Visual Studio Code,Linux-based;Windows,Linux-based;Windows;Windows Subsystem for Linu...,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Rocketchat;Zoom,Rocketchat,Very favorable,Stack Overflow,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"No, not really",18-24 years old,"Non-binary, genderqueer, or gender non-conforming",No,Straight / Heterosexual,East Asian,None of the above,None of the above,Yes,Independent contributor,4.0,Agree,Agree,Agree,Agree,Agree,Disagree,Disagree,Never,1-2 times a week,1-2 times a week,15-30 minutes a day,15-30 minutes a day,Just right,Automated testing,Yes,No,No,Too long,Difficult,3.0,NaN
6124,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Secondary school (e.g. American high school, G...","Books / Physical media;School (i.e., Universit...",NaN,NaN,7,3,"Developer, full-stack",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,South Korea,KRW\tSouth Korean won,4100.0,Yearly,HTML/CSS;JavaScript;TypeScript,HTML/CSS;TypeScript,PostgreSQL,PostgreSQL,AWS,AWS,Next.js;Nuxt.js;React.js;Vue.js,Next.js;React.js,NaN,NaN,Homebrew;npm;Yarn,Homebrew;npm;Yarn,Android Studio;IntelliJ;Visual Studio Code;Xcode,IntelliJ;Visual Studio Code,macOS,macOS;Windows,Git,Command-line,NaN,NaN,Jira Work Management;Notion,Jira Work Management;Notion,Google Chat;Slack;Zoom,Slack,Favorable,Stack Overflow;Stack Exchange,Multiple times per day,No,NaN,"No, not at all",18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,3.0,NaN
32333,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,NaN,12,8,"Developer, full-stack;Developer, back-end",500 to 999 employees,I have little or no influence,Start a free trial;Visit developer communities...,Viet Nam,VND\tVietnamese dong,60000.0,Yearly,JavaScript;Python;SQL;TypeScript,Go;JavaScript;TypeScript,MariaDB;MongoDB;MySQL;PostgreSQL;Redis,Microsoft SQL Server;MongoDB;MySQL,AWS;DigitalOcean;Firebase;Google Cloud,AWS;DigitalOcean;Firebase;Google Cloud,Express;Next.js;Node.js;React.js,Express;Next.js;Node.js;React.js,NaN,NaN,Docker;Homebrew;Kubernetes;npm;Yarn,Docker;Homebrew;Kubernetes;npm;Yarn,Visual Studio Code,Visual Studio Code,Linux-based;macOS,Linux-based;macOS,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Asana;Confluence;Jira Work Management;Trello,Confluence,Slack;Zoom,Slack,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Yes,Independent contributor,9.0,Strongly agree,Disagree,Strongly agree,Agree,Agree,Neither agree nor disagree,Disagree,1-2 times a week,1-2 times a week,Never,15-30 minutes a day,15-30 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,3.0,NaN
2377,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;edX;Other,4,Less than 1 year,"Developer, full-stack;Educator","Just me - I am a freelancer, sole proprietor, ...",I have a great deal of influence,Start a free trial;Visit developer communities...,Colombia,COP\tColombian peso,15000.0,Yearly,Clojure;HTML/CSS;JavaScript;Rust;TypeScript,Clojure;HTML/CSS;Rust,PostgreSQL;Firebase Realtime Database;SQLite,PostgreSQL;Firebase Realtime Database;SQLite,Firebase;Heroku,Firebase;Heroku,NaN,NaN,NaN,NaN,NaN,NaN,Neovim,Neovim,Linux-based,Linux-based,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,NaN,NaN,Slack,Slack,Unfavorable,Stack Overflow,A few times per week,Not sure/can't remember,NaN,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,4.0,NaN
27981,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs,NaN,10,4,"Developer, front-end;Developer, full-stack;Dev...",100 to 499 employees,I have some influence,Start a free trial;Read ratings or reviews on ...,Japan,JPY\tJapanese yen,500.0,Yearly,C;C++;Haskell;HTML/CSS;Java;JavaScript;Python;...,Haskell;Rust;Scala;TypeScript,DynamoDB;PostgreSQL,PostgreSQL,AWS,AWS,FastAPI;Next.js;Node.js;React.js,React.js,Electron,NaN,Docker;npm;Yarn,Docker,Emacs,Emacs,Linux-based;Windows;Windows Subsystem for Linu...,Linux-based,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Slack;Zoom,Slack,Unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Asian;East Asian,None of the above,"I have a mood or emotional disorder (e.g., dep...",Yes,Independent contributor,4.0,Agree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Strongly agree,1-2 times a week,1-2 times a week,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,Continuous integration (CI) and (more often) c...,No,No,Yes,Too long,Neither easy nor difficult,4.0,NaN

# **Grouping and Aggregating data: analysing and exploring data**

In [288]:
# what is a typical salary for a developer?

df["ConvertedCompYearly"].describe()

count    3.807100e+04
mean     1.707613e+05
std      7.814132e+05
min      1.000000e+00
25%      3.583200e+04
50%      6.784500e+04
75%      1.200000e+05
max      5.000000e+07
Name: ConvertedCompYearly, dtype: float64

In [299]:
# a question: what does 38071 count number mean?
df["ConvertedCompYearly"].count()

# this means, 38071 out of 73268 people responsed this question.

38071

In [289]:
df["ConvertedCompYearly"].head(15)

ResponseId
51189         NaN
38513    158484.0
7945          NaN
29705         NaN
19202         NaN
24813         NaN
56356         NaN
2738          NaN
56267         NaN
56189         NaN
69587         NaN
2449      10894.0
5465          NaN
43691     13212.0
30041         NaN
Name: ConvertedCompYearly, dtype: float64

In [290]:
# let's see median
df["ConvertedCompYearly"].median()

# is median an efficient way to inference from our data?

67845.0

In [294]:
# when we check median for the entire DF, then it will go through the columns and check for the columns 
# with numerical data and calculate median only for these columns. 
df.median()

# why should we check median rather than mean for this DF?

/var/folders/kd/j9mqrdy93j33xdby6bflbgt00000gn/T/ipykernel_36169/3799208402.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal                    77500.0
VCHostingPersonal use            NaN
VCHostingProfessional use        NaN
WorkExp                          8.0
ConvertedCompYearly          67845.0
dtype: float64

In [301]:
# count is also an aggregation method. what is the difference between count and value_counts:
# let's check Country columns for these both operations

print(df["Country"].count())
print()
df["Country"].value_counts()

# as it can be seeni value_counts displays the frequency of all unique values while count shows 
# total number of values under Country column.

71771

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Seychelles                                                  1
Monaco                                                      1
Solomon Islands                                             1
Burkina Faso                                                1
Djibouti                                                    1
Name: Country, Length: 180, dtype: int64

In [304]:
# let's check unique entries for the VersionControlSystem column
df["VersionControlSystem"].value_counts(normalize=True)

Git                                          0.869373
I don't use one                              0.043150
Git;SVN                                      0.040040
Git;Other (please specify):                  0.018997
SVN                                          0.008266
Other (please specify):                      0.007327
Git;Mercurial                                0.006977
Mercurial                                    0.001877
Git;Mercurial;SVN                            0.001457
Git;Other (please specify):;SVN              0.001163
Git;Other (please specify):;Mercurial        0.000392
Other (please specify):;SVN                  0.000364
Git;Other (please specify):;Mercurial;SVN    0.000336
Mercurial;SVN                                0.000182
Other (please specify):;Mercurial            0.000070
Other (please specify):;Mercurial;SVN        0.000028
Name: VersionControlSystem, dtype: float64

# Splitting object >> applying function >> combining results : Groupby

In [305]:
# let's groups the data throguh countries. 
# 1. split the object: let's check the countries in the data

df["Country"].value_counts()

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Seychelles                                                  1
Monaco                                                      1
Solomon Islands                                             1
Burkina Faso                                                1
Djibouti                                                    1
Name: Country, Length: 180, dtype: int64

In [320]:
df.groupby(["Country"])

In [321]:
country_grp = df.groupby(["Country"])

In [322]:
# now we can get some specific sub groups from this country group. let's check Germany
country_grp.get_group("Germany")

# this is same with df["Country"]== "Germany"

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly,last
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
21975,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,7,7,"Developer, full-stack;Cloud infrastructure eng...","5,000 to 9,999 employees",I have some influence,Start a free trial;Ask developers I know/work ...,Germany,EUR European Euro,54000.0,Yearly,Elixir;Python;TypeScript,Elixir,DynamoDB;PostgreSQL,NaN,AWS;DigitalOcean,AWS,Node.js;Nuxt.js;Phoenix;Vue.js,Phoenix;Vue.js,NaN,NaN,Docker;Homebrew;npm,NaN,Visual Studio Code;Webstorm,NaN,macOS,macOS,Git,Command-line;Dedicated version control GUI app...,NaN,NaN,Jira Work Management,NaN,Microsoft Teams,NaN,Unsure,Stack Overflow;Stack Exchange,A few times per month or weekly,No,NaN,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,57588.0,NaN
33741,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,Some college/university study without earning ...,Books / Physical media;On the job training;Onl...,NaN,Codecademy;edX,10,5,"Developer, full-stack;Data or business analyst",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,Germany,EUR European Euro,40000.0,Yearly,JavaScript;Python;TypeScript,Go;JavaScript;Python;TypeScript,MariaDB;PostgreSQL;SQLite,MariaDB;PostgreSQL;SQLite,NaN,NaN,Angular;Express;Next.js;Node.js;Vue.js,Angular;Express;Next.js;Node.js;React.js;Vue.js,NumPy;Pandas,Electron;Flutter;Ionic;NumPy;Pandas,Docker;npm;Yarn,Docker;Yarn,Android Studio;Vim;Visual Studio Code,Vim;Visual Studio Code,Linux-based,Linux-based,Git,Command-line,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Mattermost,Mattermost;Slack,Very unfavorable,Stack Overflow,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,European,None of the above,Prefer not to say,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,42657.0,NaN
28923,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,Something else,"School (i.e., University, College, etc);On the...",NaN,NaN,8,5,"Developer, front-end;Developer, back-end;Devel...",100 to 499 employees,I have some influence,Start a free trial;Ask developers I know/work ...,Germany,EUR European Euro,3444.0,Monthly,HTML/CSS;Java;JavaScript;SQL,Groovy;Java;SQL,Elasticsearch;MySQL,Elasticsearch;MongoDB;MySQL;Redis,Google Cloud,Google Cloud,NaN,NaN,Apache Kafka,Apache Kafka,Docker;Kubernetes;npm;Terraform,Kubernetes;Terraform,Atom;Eclipse;Notepad++;Visual Studio Code,Eclipse;Notepad++;Visual Studio Code,Windows,Windows,Git,Version control hosting service web GUI;Dedica...,NaN,NaN,Confluence;Jira Work Management;Notion;Trello,Jira Work Management;Notion;Trello,Google Chat;Zoom,Google Chat;Rocketchat,Unsure,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,White;European,Prefer not to say,None of the above,Yes,Independent contributor,5.0,Agree,Neither agree nor disagree,Neither agree nor disagree,Disagree,Agree,Agree,Neither agree nor disagree,1-2 times a week,3-5 times a week,1-2 times a week,30-60 minutes a day,30-60 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,No,Yes,Appropriate in length,Easy,44076.0,NaN
62482,I am a developer by profession,"Student, part-time",NaN,NaN,Some college/university study without earning ...,"School (i.e., University, College, etc)",NaN,NaN,8,NaN,NaN,NaN,NaN,Ask developers I know/work with,Germany,NaN,NaN,NaN,Java;JavaScript;PHP;Python;SQL;TypeScript,JavaScript;Python,MongoDB;MySQL;PostgreSQL,MongoDB;PostgreSQL;Redis,Heroku,Heroku,Angular;Django;Express;Node.js;React.js;Vue.js,Django;Express;React.js,NumPy,NaN,Docker;Homebrew;npm,Docker;Homebrew;npm,Visual Studio Code,Visual Studio Code,Linux-based;macOS,macOS;Windows,Git,Command-line,NaN,NaN,NaN,NaN,Mattermost,Mattermost,Unfavorable,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,18-24 years old,Man,No,Prefer not to say,White;European,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
5415,"I am not primarily a developer, but I write co...","Employed, full-time;Student, full-time","Hybrid (some remote, some in-person)",Hobby;Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,12,NaN,Academic researcher,NaN,NaN,Visit developer communities like Stack Overflo...,Germany,NaN,NaN,NaN,C;C++;Go;Haskell;Python;Rust,Haskell;Rust,SQLite,SQLite,NaN,NaN,NaN,NaN,NaN,NaN,Homebrew;npm;Yarn,Homebrew;Yarn,CLion;Neovim;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;macOS,Linux-based;macOS;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Mattermost;Zoom,Mattermost;Zoom,Indifferent,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not really",25-34 years old,Man,No,Bisexual,European,None of the above,"I have a mood or emotional disorder (e.g., dep...",Yes,Independent contributor,5.0,Neither agree nor disagree,Agree,Disagree,Disagree,Strongly agree,Agree,Disagree,Never,1-2 times a week,1-2 times a week,30-60 minutes a day,15-30 minutes a day,Somewhat long,None of these,No,No,Yes,Appropriate in length,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65680,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,Other,20,15,"Developer, back-end",500 to 999 employees,I have some influence,Start a free trial;Visit developer communities...,Germany,EUR European Euro,77000.0,Monthly,Python,Rust,PostgreSQL;Redis;SQLite,PostgreSQL;Redis;SQLite,Google Cloud,Google Cloud,Django;Vue.js,Django;Svelte,Spring,NaN,Ansible;Docker;Kubernetes;Terraform,Ansible;Docker;Kubernetes;Pulumi,Emacs;Vim;Visual Studio Code,Emacs;PyCharm;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Command-line,NaN,NaN,Confluence,NaN,Cisco Webex Teams;Slack;Zoom,Slack,Favorable,Stack Overflow,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,Yes,Independent contributor,12.0,Agree,Agree,Agree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Agree,1-2 times a week,1-2 times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,No,Yes,Yes,Appropriate in length,Neither easy nor difficult,985392.0,NaN
1718,I am a developer by profession,"Employed, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Programming Game...,Udemy;Codecademy;Pluralsight,3,3,"Developer, front-end;Developer, full-stack;Dev...","5,000 to 9,999 employees",I have little or no influence,Start a free trial;Visit developer communities...,Germany,EUR European Euro,1185.0,Monthly,HTML/CSS;Java;JavaScript;Kotlin;TypeScript,HTML/CSS;JavaScript;Kotlin;Rust;TypeScript,PostgreSQL,Cassandra;PostgreSQL,AWS,AWS,Angular;React.js,Express;React.js;Vue.js,Electron;Spring,Apache Kafka;Electron;Spring,Ansible;Docker;npm;Yarn,Ansible;Docker;Kubernetes;Terraform;Yarn,IntelliJ;Neovim;Visual Studio Code,IntelliJ;Neovim;Visual Studio Code,Windows;Windows Subsystem for Linux (WSL),Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,Confluence,NaN,Cisco Webex Teams;Microsoft Teams,NaN,Unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,No,NaN,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,White;European,None of the above,I have an anxiety disorder;I have autism / an ...,Yes,Independent contributor,3.0,Strongly agree,Neither agree nor disagree,Disagree,Neither agree nor disagree,Agree,Disagree,Agree,1-2 times a week,10+ times a week,Never,60-120 minutes a day,30-60 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,No,Yes,Yes,Too short,Neither easy nor difficult,15168.0,NaN
53399,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Secondary school (e.g. American high school, G...",On the job training,NaN,NaN,15,12,"Developer, back-end;Developer, mobile",2 to 9 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,Germany,EUR European Euro,60000.0,Yearly,Java;JavaScript;Objective-C;PHP;Python;Swift;T...,NaN,MariaDB;MySQL;SQLite,NaN,NaN,NaN,Laravel,NaN,Spring,NaN,Homebrew,NaN,PhpStorm;Webstorm;Xcode,NaN,NaN,macOS,Git,Dedicated version control GUI application,NaN,NaN,Asana;Confluence;Jira Work Management,NaN,Microsoft Teams;Slack;Zoom,NaN,Favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,European,None of the above,I have a concentration and/or memory disorder ...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,63986.0,NaN
12128,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",School or academic work,"Other doctoral degree (Ph.D., Ed.D., etc.)",Books / Physical media;On the job training,NaN,NaN,18,9,Academic researcher;Scientist,"5,000 to 9,999 employees",I have some influence,Visit developer communities like Stack Overflo...,Germany,EUR European Euro,4000.0,Monthly,Bash/Shell;C++;Fortran;Julia;Python,Julia,NaN,NaN,NaN,NaN,NaN,NaN,NumPy,NaN,NaN,NaN,Vim,Vim,Linux-based,Linux-based,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Man,No,Prefer not to say,European,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,51192.0,NaN
44315,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",School or academic work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc);On the...",NaN,Coursera;Udemy,NaN,NaN,"Developer, QA or test",500 to 999 employees,I have a great deal of influence,Visit developer communities like Stack Overflow,Germany,EUR European Euro,NaN,NaN,C#;C++;MATLAB,Python,NaN,NaN,Microsoft Azure;VMware,AWS;Firebase;Google Cloud,NaN,NaN,GTK;NumPy,Qt;Scikit-learn;TensorFlow,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Atom;Eclipse;PyCharm;Qt Creator,Windows,Windows,Git,Code editor,NaN,NaN,Notion;Trello,NaN,Google Chat;Microsoft Teams;Zoom,Slack,Favorable,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",25-34 years old,Man,No,Prefer not to say,Indian,I am unable to / find it difficult to type,NaN,Yes,Independent contributor,29.0,NaN,Disagree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30-60 minutes a day,Just right,Continuous integration (CI) and (more often) c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [319]:
# 2 - apply the function

# we've already checked the median salary for the entire data above. However, purchasing power and living 
# costs differ across countries significantly. So we can't have efficient 
# impressions from median. So let's group the average salaries by countries. In other words: apply mean function

df.groupby(["Country"])["ConvertedCompYearly"].mean()

Country
Afghanistan                             33914.666667
Albania                                 24895.148148
Algeria                                 12732.888889
Andorra                                 98003.125000
Angola                                   6222.750000
                                            ...
Venezuela, Bolivarian Republic of...    17079.400000
Viet Nam                                37707.563830
Yemen                                   17464.666667
Zambia                                   8452.000000
Zimbabwe                                87596.000000
Name: ConvertedCompYearly, Length: 180, dtype: float64

In [333]:
# let's group countries for each age group
country_grp["Age"].value_counts()

Country      Age
Afghanistan  18-24 years old       23
             25-34 years old       12
             Prefer not to say      7
             Under 18 years old     7
             35-44 years old        4
                                   ..
Zambia       35-44 years old        2
Zimbabwe     18-24 years old       12
             25-34 years old        9
             35-44 years old        8
             Under 18 years old     1
Name: Age, Length: 927, dtype: int64

In [335]:
# let's check some specific countries
country_grp["Age"].value_counts().loc["Germany"]

Age
25-34 years old       2154
18-24 years old       1246
35-44 years old       1151
45-54 years old        387
Under 18 years old     235
55-64 years old        143
Prefer not to say       34
65 years or older       15
Name: Age, dtype: int64

In [337]:
country_grp["Age"].value_counts(normalize=True).loc["Germany"]

Age
25-34 years old       0.401491
18-24 years old       0.232246
35-44 years old       0.214539
45-54 years old       0.072134
Under 18 years old    0.043802
55-64 years old       0.026654
Prefer not to say     0.006337
65 years or older     0.002796
Name: Age, dtype: float64

In [339]:
country_grp["Age"].value_counts(normalize=False).loc["United Kingdom of Great Britain and Northern Ireland"]

Age
25-34 years old       1481
35-44 years old        989
18-24 years old        682
45-54 years old        446
Under 18 years old     249
55-64 years old        199
65 years or older       69
Prefer not to say       28
Name: Age, dtype: int64

In [327]:
# this time let's age groups by countries
df.groupby("Age")["Country"].value_counts()

Age              Country
18-24 years old  India                                                   2528
                 United States of America                                1826
                 Germany                                                 1246
                 United Kingdom of Great Britain and Northern Ireland     682
                 France                                                   606
                 Brazil                                                   482
                 Poland                                                   446
                 Canada                                                   409
                 Netherlands                                              365
                 Russian Federation                                       341
Name: Country, dtype: int64

In [317]:
# let's check age column to see why can't we see the median of age which means splitting Age group
df["Age"].value_counts()

25-34 years old       28112
18-24 years old       16646
35-44 years old       13988
45-54 years old        5281
Under 18 years old     3866
55-64 years old        1978
65 years or older       554
Prefer not to say       521
Name: Age, dtype: int64

In [318]:
# now we can check average salary for each age group
df.groupby(["Age"])["ConvertedCompYearly"].mean()

Age
18-24 years old        98973.177262
25-34 years old       156513.883573
35-44 years old       202940.702024
45-54 years old       221254.013086
55-64 years old       281125.546419
65 years or older     241075.476471
Prefer not to say     214925.037037
Under 18 years old    122322.804348
Name: ConvertedCompYearly, dtype: float64

In [342]:
df.groupby("Country")["ConvertedCompYearly"].median()

# bu artık indeksleri ülke olan bir veri. dolayısıyla en soan indeks olarak ülke yazarak ülkelere bakabiliriz

Country
Afghanistan                             10894.0
Albania                                 15360.0
Algeria                                  7440.0
Andorra                                 76784.0
Angola                                   3073.5
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                11388.0
Yemen                                   15000.0
Zambia                                   6612.0
Zimbabwe                                11400.0
Name: ConvertedCompYearly, Length: 180, dtype: float64

In [344]:
df.groupby("Country")["ConvertedCompYearly"].median().loc["Germany"]

69318.0

In [345]:
df.groupby("Country")["ConvertedCompYearly"].median().loc["Turkey"]

18000.0

# agg for multiple functions at the same time

In [347]:
df.groupby("Country")["ConvertedCompYearly"].agg(["median", np.mean, max, min])

                                       median          mean       max     min
Country
Afghanistan                           10894.0  33914.666667  158484.0  1634.0
Albania                               15360.0  24895.148148  106780.0    36.0
Algeria                                7440.0  12732.888889   31992.0  3504.0
Andorra                               76784.0  98003.125000  213287.0   192.0
Angola                                 3073.5   6222.750000   17304.0  1440.0
...                                       ...           ...       ...     ...
Venezuela, Bolivarian Republic of...  12000.0  17079.400000   74400.0   240.0
Viet Nam                              11388.0  37707.563830  995064.0     1.0
Yemen                                 15000.0  17464.666667   40000.0  4800.0
Zambia                                 6612.0   8452.000000   14400.0  4344.0
Zimbabwe                              11400.0  87596.000000  568968.0  3600.0

[180 rows x 4 columns]

In [350]:
# to see it for spesific countries: Turkey and Germany together
df.groupby("Country")["ConvertedCompYearly"].agg(["median", np.mean, max, min]).loc[["Turkey", "Germany"]]

          median           mean        max   min
Country
Turkey   18000.0   29681.923937  1317108.0  12.0
Germany  69318.0  115087.296703  2559444.0  12.0

In [351]:
# for all countries
df.groupby("Country")["ConvertedCompYearly"].agg(["median", np.mean, max, min])

                                       median          mean       max     min
Country
Afghanistan                           10894.0  33914.666667  158484.0  1634.0
Albania                               15360.0  24895.148148  106780.0    36.0
Algeria                                7440.0  12732.888889   31992.0  3504.0
Andorra                               76784.0  98003.125000  213287.0   192.0
Angola                                 3073.5   6222.750000   17304.0  1440.0
...                                       ...           ...       ...     ...
Venezuela, Bolivarian Republic of...  12000.0  17079.400000   74400.0   240.0
Viet Nam                              11388.0  37707.563830  995064.0     1.0
Yemen                                 15000.0  17464.666667   40000.0  4800.0
Zambia                                 6612.0   8452.000000   14400.0  4344.0
Zimbabwe                              11400.0  87596.000000  568968.0  3600.0

[180 rows x 4 columns]

In [ ]:
# how many people use python in each country?

In [357]:
# 1) first solution with filtering
# for India
df[df["Country"]=="India"]["LanguageHaveWorkedWith"].str.contains("Python")
# it will return T or F

ResponseId
7         True
8        False
66       False
141      False
152       True
         ...
73185     True
73194    False
73256    False
73258     True
73259    False
Name: LanguageHaveWorkedWith, Length: 6639, dtype: object

In [361]:
# we can count the users with sum(). It will get all the Trues as 1 and add them
df[df["Country"]=="India"]["LanguageHaveWorkedWith"].str.contains("Python").sum()

3081

In [362]:
# Groupby olur mu direkt?
# hata kodunu gormek icin calistiralim:
df.groupby("Country")["LanguageHaveWorkedWith"].str.contains("Python").sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [364]:
# 2) groupby icin apply() kullanmalıyız. yani su kisim icin (str.contains("Python").sum()) bir fonksiyon yazmlıyız

df.groupby("Country")["LanguageHaveWorkedWith"].apply(lambda x: x.str.contains("Python").sum())

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

In [366]:
# what percentage of people from each country use python?

# first we need the number of respondants from each country for that

print(df["Country"].value_counts())
# let's assign it to a variable

country_filt = df["Country"].value_counts()

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [368]:
# second: let's find python users for each country
print(df.groupby("Country")["LanguageHaveWorkedWith"].apply(lambda x: x.str.contains("Python").sum()))

country_pyt_users = df.groupby("Country")["LanguageHaveWorkedWith"].apply(lambda x: x.str.contains("Python").sum())

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

In [374]:
# 3. 
# 3.1 traditional way: but it's too difficult to read and analysis
np.ceil((country_pyt_users / country_filt)*100)

Afghanistan                             37.0
Albania                                 33.0
Algeria                                 53.0
Andorra                                 27.0
Angola                                  25.0
                                        ...
Venezuela, Bolivarian Republic of...    44.0
Viet Nam                                43.0
Yemen                                   29.0
Zambia                                  30.0
Zimbabwe                                37.0
Length: 180, dtype: float64

In [386]:
# 3.2 concat method and creating a new dataframa

python_df = pd.concat([country_filt, country_pyt_users], axis = "columns", sort = False)
python_df

,Country,LanguageHaveWorkedWith
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

In [387]:
# now let's change the column names

python_df.rename(columns = {"Country": "NumRespondants", "LanguageHaveWorkedWith": "NumKnowsPython"}, inplace=True)
python_df

,NumRespondants,NumKnowsPython
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

In [388]:
# last, let's add a column for percentages
python_df["Percentage_Pyt_Users"] = (python_df["NumKnowsPython"] / python_df["NumRespondants"])*100
python_df

,NumRespondants,NumKnowsPython,Percentage_Pyt_Users
United States of America,13543,7017,51.812745
India,6639,3081,46.407592
Germany,5395,2674,49.564411
United Kingdom of Great Britain and Northern Ireland,4190,2082,49.689737
Canada,2490,1272,51.084337
...,...,...,...
Monaco,1,0,0.000000
Djibouti,1,0,0.000000
Seychelles,1,0,0.000000
Solomon Islands,1,1,100.000000
Saint Kitts and Nevis,1,1,100.000000

In [393]:
# now we have a new df and we can do all operations that we can do for a df. let's sort it through respondants

python_df.sort_values("NumRespondants")

,NumRespondants,NumKnowsPython,Percentage_Pyt_Users
United States of America,13543,7017,51.812745
India,6639,3081,46.407592
Germany,5395,2674,49.564411
United Kingdom of Great Britain and Northern Ireland,4190,2082,49.689737
Canada,2490,1272,51.084337
...,...,...,...
Monaco,1,0,0.000000
Djibouti,1,0,0.000000
Seychelles,1,0,0.000000
Solomon Islands,1,1,100.000000
Saint Kitts and Nevis,1,1,100.000000

In [397]:
# let's check for individual countries
python_df.loc[["Germany", "Japan"]]

         NumRespondants  NumKnowsPython  Percentage_Pyt_Users
Germany            5395            2674             49.564411
Japan               333             165             49.549550

#  Cleaning Data - Casting Datatypes and Handling Missing Values

https://www.youtube.com/watch?v=KdmPHEnPJPs&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=9